.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
}

.footer ul{
    gap: 1rem;
}

.footer ul li{
    color: var(--title-secondary);
    font-size: 0.9rem;
    transition: all 0.2s;
}

.footer ul li:hover{
    color: var(--blu);
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
}

.footer p{
    color: rgb(113 113 122);
}








@media(max-width:800px){
    .footer{
        flex-direction: column;
        align-items: center;
        padding: 2rem 0 ;
    }
    .footer ul{
        flex-direction: column;
        align-items: center;
    }
    .footer ul li{
        margin-bottom: 0.5rem;
    }
}